@tailwind base;
@tailwind components;

@font-face {
  font-family: CenturyGothic;
  src: url('./assets/fonts/SVN-CenturyGothic-Regular.ttf');
}

@font-face {
  font-family: CenturyGothic Bold;
  src: url('./assets/fonts/SVN-CenturyGothic-Bold.ttf');
}

@layer base {
  body {
    @apply font-centuryGothic;
  }
}

@layer components {
  .header {
    @apply h-[120px] bg-white w-full fixed top-0 transition duration-500 ease-in-out;
  }

  .scrollUp {
    @apply translate-y-[0];
  }

  .scrollDown {
    @apply translate-y-[-120px];
  }

  .menu-child {
    @apply bg-[#262525bf] absolute w-[280px] top-[72px] left-[-20px] font-centuryGothic after:bg-hero-pattern after:w-[115px] after:h-[6px] after:inline-block after:absolute after:top-[-6px];
  }
}
